/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: 204px;
    background-color: #414141;
    padding-top:37px;

    .container {
        width:100%;
        margin:0px auto;
        padding-right: 15px;
        padding-left: 15px;
        >ul {
            margin-bottom:30px;
            li {
                width:33.3333%;
                height:51px;
                line-height:51px;
                text-align:center;

                >div {
                    display: inline-block;
                    vertical-align: middle;
                    >img {
                        margin-right:17px;
                    }
                    >p {
                        color:#fff;
                        font-size:18px;
                        margin:0px;
                    }
                }
            }
        }

        >div:first-of-type{
            height: 1px;
            margin-bottom: 27px;
            background-color: #4f4f4f;
        }
        >div:nth-of-type(2){
            font-size:12px;
            text-align:center;
            color:#999;
            position:relative;
            a {
                color:#999;
                text-decoration:none;
            }

            >ul {
                margin:0px auto;
                padding:0px;
                display:table;
                text-align:center;

                li {
                    margin:0px 7px;
                }

            }
            >div:first-of-type {
                display:table;
                text-align:center;
                margin:0px auto;

                >p {
                    margin:0px;
                }
                >a {
                    margin:0px;
                }
            }
        }
    }
}
